@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
}

:root{
    /*colors*/

    --soft-green: hsl(192, 37%, 48%);
    --hover-green:hsl(192, 54%, 64%);
    --lite-green: hsl(192, 37%, 48%,90%);
    --light-blue: hsl(192, 90%, 77%);

    --violet: hsl(268, 34%, 53%);
    --hover-violet:hsl(268, 55%, 71%);
    --light-violet: hsl(268, 100%, 86%);

    --indigo: hsl(240, 21%, 20%);
    --grey: hsl(240, 10%, 57%);
    --light-grey: hsl(240, 10%, 57%,25%);


    --white: hsl(0, 0%, 98%);

    /*typography*/

    /*font-size*/
    --fs-base: 18px;
    --fs-h1: 64px;
    --fs-h2: 40px;
    --fs-h3:32px;
    --fs-h4:16px;
    --fs-overline: 16px;

    /*font-family*/
    --font-family: "Red Hat Display", sans-serif;

    /*font-weight*/
    --medium:500;
    --black:900;

    /*borders*/
    --radiiBtn: 29px;
    --radiiImage:10px;
}

body{
    margin: 0;
    font-size: var(--fs-base);
    font-weight: var(--medium);
    line-height: 26px;
    background-color: #f2f2f2;
}
h1{
    font-family: var(--font-family);
    font-size: var(--fs-h1);
    font-weight: var(--black);
    line-height: 64px;
    color: var(--indigo);
}
h2{
    font-family: var(--font-family);
    font-size: var(--fs-h2);
    font-weight: var(--black);
    line-height: 44px;
    color: var(--indigo);
}
h3{
    font-family: var(--font-family);
    font-size: var(--fs-h3);
    font-weight: var(--black);
    line-height: 36px;
    color: var(--indigo);
}
h4{
    font-family: var(--font-family);
    font-size: var(--fs-h4);
    font-weight: var(--black);
    line-height: 26px;
    letter-spacing: 4px;
    color: var(--soft-green);
    text-transform: uppercase;
}
p{
    font-family: var(--font-family);
    font-weight: var(--medium);
    line-height: 26px;
    color: var(--grey);
}
.text p{
    font-size: var(--fs-overline);
    text-indent: 20px;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
.overline{
    font-size: var(--fs-overline);
    font-weight: var(--black);
    line-height: 26px;
    letter-spacing: 4px;
    color: var(--soft-green);
}
.btn{
    font-family: var(--font-family);
    font-weight: var(--black);
    font-size: var(--fs-overline);
    color: #ffffff;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 375px;
    background-color: var(--white);
}


/*header*/
header{
    padding-top: 54px;
}
.logotype{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}
.logo{
    width: 119px;
    height: 28px;
}
.image-left{
    width: 375px;
    height: 153px;
    background-image: url("./assets/tablet/image-hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20px;
    margin-bottom: 48px;
}
.header-text{
    padding: 0 24px;
    text-align: center;
    margin-bottom: 24px;
}
.paragraph-mobile{
    font-size: var(--fs-overline);
    padding: 0 24px;
    text-align: center;
    margin-bottom: 32px;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

}
.btn{
    border-radius: var(--radiiBtn);
    border: none;
    padding: 16px 29px;
}
.download{
    width: 193px;
    height: 58px;
    background-color: var(--soft-green);
}
.question{
    width: 139px;
    height: 58px;
    background-color: var(--violet);
}
.buttons span{
    color: var(--light-blue);
}
.box-btn-footer span{
    color: var(--light-violet);
}


/*main*/
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0 176px 0;
    gap: 64px;
}
.listing{
    width: 56px;
    height: 140px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    .numbering{
        width: 56px;
        height: 56px;
        border: 1px solid var(--light-grey);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        color: var(--grey);
        background-color: var(--white);
    }
    .numbering p{
        font-family: var(--font-family);
        font-weight: var(--black);
        font-size: var(--fs-overline);
        line-height: 26px;
    }
    .line {
        width: 1px;
        height: 84px;
        background-color: var(--light-grey);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }
}
.pictures{
    width: 327px;
    height: 310px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 25px;
    row-gap: 24px;
}
.image{
    width: 100%;
    border-radius: var(--radiiImage);
}
.text{
    width: 327px;
    height: 284px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
}


/*footer*/
footer{
    width: 100%;
    height: 428px;
    background-image: url("./assets/mobile/image-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    .footer-listing{
        top: -112px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        z-index: 3;
    }
    .footer-listing .numbering {
        opacity: 1;
    }
    .footer{
        width: 100%;
        height: 100%;
        background-color: var(--lite-green);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
    }
    .footer-text h3{
        color: var(--white);
    }
    .footer-text p{
        color: var(--white);
        font-size: var(--fs-base);
    }
    .btn-footer{
        background-color: var(--violet);
        opacity: 1;
    }
    .box{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .box h3, .box p, .box .box-btn-footer{
        width: 327px;
    }
}


@media (min-width: 768px){
    .content{
        width: 768px;
    }
    .image-left{
        width: 768px;
        height: 303px;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header-info{
        width: 457px;
        height: 262px;
    }
    .buttons{
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    .pictures{
        width: 689px;
        height: 156px;
        grid-template-columns: repeat(4,1fr);
        column-gap: 11px;
    }
    .text{
        width: 573px;
        height: 240px;
    }
    h3{
        font-size: var(--fs-h2);
    }
    .text p{
        font-size: var(--fs-overline);
        text-indent: 0;
    }
    .text h3{
        font-size: 40px;
    }
    .header-text h2{
        font-size: 48px;
    }
    footer{
        background-image: url("./assets/tablet/image-footer.jpg");
        .box{
            width: 100%;
            gap: 40px;
        }
        .box h3{
            font-size: 40px;
            line-height: 44px;
            width: 457px;
        }
        .box p, .box .box-btn-footer{
            width: 594px;
        }
    }
}
@media (min-width: 1440px){
    .content{
        width: 1440px;
    }
    header{
        width: 100%;
    }
    .image-left{
        width: 384px;
        height: 358px;
        background-image: url("./assets/desktop/image-hero-left.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: -31px top;
        margin-bottom: 0;
    }
    .image-right{
        width: 384px;
        height: 358px;
        background-image: url("./assets/desktop/image-hero-right.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 31px bottom;
    }
    .header{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .header-info{
        width: 540px;
        align-self: end;
    }
    .buttons{
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        gap: 16px;

    }
    .download:hover{
        cursor: pointer;
        background-color: var(--hover-green);
    }
    .question:hover{
        cursor: pointer;
        background-color: var(--hover-violet);
    }
    .box-btn-footer .btn-footer:hover{
        cursor: pointer;
        background-color: var(--hover-violet);
    }
    .pictures{
        width: 1110px;
        height: 242px;
        grid-template-columns: repeat(4,1fr);
        column-gap: 30px;
    }
    .text{
        width: 540px;
        height: 240px;
    }
    h3{
        font-size: var(--fs-h2);
    }
    .text p{
        font-size: 18px;
        text-indent: 0;
    }
    .text h3{
        font-size: 40px;
    }
    .header-text h2{
        font-size: 48px;
    }
    footer{
        background-image: url("./assets/desktop/image-footer.jpg");
        background-size: contain;
        height: 308px;
        .box{
            flex-direction: row;
            width: 1110px;
            height: 88px;
            justify-content: space-between;
            gap: 0;
        }
        .box h3{
            font-size: 40px;
            line-height: 44px;
            width: 350px;
            text-align: start;
        }
        .box p{
            width: 344px;
            height: 88px;
            text-align: start;
        }
        .box .box-btn-footer{
            width: 193px;
        }
    }
}